<style>
    p {
        font-weight: normal;
        text-align: justify;
        font-size: 8pt;
    }  
    .title {
        font-size: 10pt;
        font-weight: bold;
    }
    .second-title {
        font-size: 8pt;
        font-weight: bold;
    }
    .blue {
        color: #3A4C7F; 
    }
</style>


<p><span class="title">Thank you for your trust,</span><br />
   <span class="title">Your Bonnewitzz Online Team</span><br />
   <span class="title blue">{{config path='general/store_information/name'}}</span><br /><br />
</p>
