<style>
/*    table {
        border: 1px solid red;
    }*/
    dl {        
        line-height: 3px;
        height: 100px;
        color: #929295;
    }
    
    dt {
        font-weight: lighter;
        font-family: arial;
	font-size: 7pt;
    }
    
    dt.second-title {
        font-size: 14pt;
        color: #3A4C7F; 
    }
    
    span.title {
        text-align: left;
        color: #3A4C7F;        
    }
   
    span.first-title {
        font-size: 18pt;
    }
    
    span.second-title {
        font-size: 14pt;
    }
    p {
        font-weight: normal;
        text-align: justify;
        font-size: 8pt;
    }

</style>
<table style="width: 100%; height: 400pt;">
    <tr class="first-row">
        <td class="first-column" style="width: 100%; text-align: left;">
            <img src="/media/sales/store/logo/{{config path='sales/identity/logo'}}" />           
        </td>       
    </tr>
     <tr>        
        <td style="text-align: left; width: 35%;">            
            <dl> 
                <dt><span class="title first-title">Shipment</span></dt>
                <dt />
                <dt class="second-title">Adressed to:</dt>
                <dt />
                <dt>Company name: {{var model.headerBillingAdress.getCompany()}}</dt>
                <dt>Street: {{var model.headerBillingAdress.getStreet()}}</dt>
                <dt>Zipcode: {{var model.headerBillingAdress.getPostcode()}}</dt>
                <dt>City: {{var model.headerBillingAdress.getCity()}}</dt>
                <dt>Country: {{var model.headerBillingAdress.getCountryName()}}</dt>                
            </dl>            
        </td> 
        <td style="text-align: left; width: 45%;">
            <dl>   
                <dt />
                <dt />
                {{depend model.orderDetails.getCustomerId()}}
                <dt>Customer-No: {{var model.orderDetails.getCustomerId()}}</dt>
                {{/depend}}
                <dt>P.O. No: {{var model.orderDetails.getOrderId()}}</dt>
                <dt>Invoice No: {{var model.orderDetails.getInvoiceId()}}</dt>
                <dt>Date-Invoice: {{var model.orderDetails.getDateCreate()}}</dt>                
            </dl>            
        </td>        
    </tr>
    <tr>        
        <td style="text-align: left;">
            <dl>
                <dt class="second-title">Delivery address:</dt>
                <dt />
                <dt>Street: {{var model.headerShippingAdress.getStreet()}}</dt>
                <dt>Zipcode: {{var model.headerShippingAdress.getPostcode()}}</dt>
                <dt>City: {{var model.headerShippingAdress.getCity()}}</dt>
                <dt>Country: {{var model.headerShippingAdress.getCountryName()}}</dt>                
            </dl>            
        </td>       
    </tr>
</table>