<style>
/*    table {
        border: 1px solid red;
    }*/
    dl {        
        line-height: 3px;
        height: 100px;
        color: #929295;
    }
    
    dt {
        font-weight: lighter;
        font-family: arial;
	font-size: 7pt;
    }
    
    dt.second-title {
        font-size: 14pt;
        color: #3A4C7F; 
    }
    
    span.title {
        text-align: left;
        color: #3A4C7F;        
    }
   
    span.first-title {
        font-size: 18pt;
    }
    
    span.second-title {
        font-size: 14pt;
    }
    p {
        font-weight: normal;
        text-align: justify;
        font-size: 8pt;
    }

</style>
<table style="width: 100%; height: 400pt;">
    <tr class="first-row">
        <td class="first-column" style="width: 60%; text-align: left;">
            <img src="/media/sales/store/logo/{{config path='sales/identity/logo'}}" />
        </td>
        <td style="width: 20%; text-align: left;">
            <dl>
                <dt>Bonnewits Horeca</dt>
                <dt>Industrieweg 37</dt>
                <dt>2651BC Berkel en Rodenrijs</dt>
            </dl>
        </td>
        <td style="width: 20%; text-align: left;">
            <dl>
                <dt>T {{config path='general/store_information/phone'}}</dt>
                <dt>F {{config path='general/store_information/fax'}}</dt>
                <dt>E {{config path='contacts/email/recipient_email'}}</dt>
                <dt>I {{config path='web/secure/base_url'}}</dt>
                <dt />
                {{depend config path='general/store_information/merchant_vat_number'}}
                <dt>BTW: {{config path='general/store_information/merchant_vat_number'}}</dt>
                {{/depend}}
            </dl>
        </td>    
    </tr>
     <tr>        
        <td style="text-align: left; width: 35%;">            
            <dl> 
                <dt><span class="title first-title">Creditnota</span></dt>
                <dt />
                <dt class="second-title">Adressed to:</dt>
                <dt />
                <dt>Bedrijfsnaam: {{var model.headerBillingAdress.getCompany()}}</dt>
                <dt>Straat en huisnummer: {{var model.headerBillingAdress.getStreet()}}</dt>
                <dt>Postcode: {{var model.headerBillingAdress.getPostcode()}}</dt>
                <dt>Plaats: {{var model.headerBillingAdress.getCity()}}</dt>
                <dt>Land: {{var model.headerBillingAdress.getCountryName()}}</dt>                  
            </dl>            
        </td> 
        <td style="text-align: left; width: 45%;">
            <dl>   
                <dt />
                <dt />
                {{depend model.orderDetails.getCustomerId()}}
                <dt>Klantnr: {{var model.orderDetails.getCustomerId()}}</dt>
                {{/depend}}
                <dt>Ordernr: {{var model.orderDetails.getOrderId()}}</dt>
                <dt>Factuurnr: {{var model.orderDetails.getInvoiceId()}}</dt>
                <dt>Factuurdatum: {{var model.orderDetails.getDateCreate()}}</dt>                 
            </dl>            
        </td>        
    </tr>
    <tr>        
        <td style="text-align: left;">
            <dl>
                <dt class="second-title">Bezorgadres</dt>
                <dt />
                <dt>Straat en huisnummer: {{var model.headerShippingAdress.getStreet()}}</dt>
                <dt>Postcode: {{var model.headerShippingAdress.getPostcode()}}</dt>
                <dt>Plaats: {{var model.headerShippingAdress.getCity()}}</dt>
                <dt>Land: {{var model.headerShippingAdress.getCountryName()}}</dt>                   
            </dl>            
        </td>       
    </tr>
</table>